<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.ContextMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Context">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="timeStamp" column="timeStamp" jdbcType="TIMESTAMP"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="messageRole" column="messageRole" jdbcType="VARCHAR"/>
            <result property="messageContent" column="messageContent" jdbcType="VARCHAR"/>
            <result property="listId" column="ListId" jdbcType="BIGINT"/>
            <result property="messageModel" column="messageModel" jdbcType="VARCHAR"/>
            <result property="promptTokens" column="promptTokens" jdbcType="INTEGER"/>
            <result property="completionTokens" column="completionTokens" jdbcType="INTEGER"/>
            <result property="totalTokens" column="totalTokens" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,timeStamp,userAccount,
        messageRole,messageContent,ListId,
        messageModel,promptTokens,completionTokens,
        totalTokens
    </sql>
</mapper>
